body{
    background-color: hsl(0, 4%, 86%)
}
form{
    text-align: center;
    background-color:white;
    max-width: 350px;
    margin:auto;
    padding:30px;
    border: 5px solid black;

}
h1{
    color:blue;
}
#mytext{
    margin-bottom: 15px;
    text-align: center;
    border: 2px solid black;
}

button{
    background-color: red;
    padding: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
label{
    font-weight: bold;
}