body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
 
}

h1 {
  font-size: 5rem;
}

footer {
  clear: both;
  text-align: right;
  color: midnightblue;
}
.card{
  display: inline-block;
  width: 45%;
  margin: auto;

  
  
}
.creative {
  color: midnightblue;
}
.tile-image{
  float: left;
  height: 200px;
  margin-right: 50px;
  
  
}
.left {
  float: left;
}
.right{
  float: right;

}

@media (max-width:680px){
  .card{
  width:100%;
  display: block;
  margin-bottom: 30px;
  text-align: justify;
    
  }
  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}



